@using System.Globalization
@using Ecommerce.Extensions
@model List<Ecommerce.ViewModel.Cart.CartItemViewModel>
@inject StatsService _statsService
<script>
    $(document).on('click', '.btn-remove', function (e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        DeleteCartItem(productId);
    });

    $(document).on('click', '.btn-plus', function (e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        PlusItemCart(productId);
    });

    $(document).on('click', '.btn-minus', function (e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        MinusItemCart(productId);
    });
    function DeleteCartItem(productId) {
        $.ajax({
            type: 'POST',
            url: '/Cart/DeleteCartItem',
            data: { productId: productId },
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error('Error adding item to cart: ', error);
            }
        });
    }
    function PlusItemCart(productId) {
        $.ajax({
            type: 'POST',
            url: '/Cart/PlusCartItem',
            data: { productId: productId },
            success: function (response) {
                if (response && response.success) {
                    location.reload();
                } else {
                    location.reload();
                    console.error('Error adding item to cart: ', response && response.errorMessage);
                    alert(response && response.errorMessage || "Xin chờ một chút");
                }
            },
            error: function (error) {
                console.error('Error adding item to cart: ', error);
            }
        });
    }
    function MinusItemCart(productId) {
        $.ajax({
            type: 'POST',
            url: '/Cart/MinusCartItem',
            data: { productId: productId },
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error('Error adding item to cart: ', error);
            }
        });
    }
    //
    $(document).ready(function () {
        $('input[type="checkbox"]').change(function () {
            var itemId = $(this).data('item-id');
            var isChecked = $(this).prop('checked');
            $.ajax({
                type: 'POST',
                url: '/Cart/SelectItem',
                data: { itemId: itemId, isChecked: isChecked },
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    console.error('Error calling ToggleItem action.');
                }
            });
        });
    });
</script>
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shopping Cart</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        @if (Model.Count() > 0)
        {
            decimal total = 0;
          
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>TotalPrice</th>
                            <th>Select</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @foreach (var item in Model)
                        {
                            decimal? itemPriceSelected;
                            if (item.ItemSelected == true)
                            {
                                itemPriceSelected = item.Product.Price;
                            }
                            else{ itemPriceSelected = 0; }
                            var pricePerProduct = _statsService.ConvertIntoViewFormat(item.Quantity * item.Product.Price);
                            var totalOfProduct = item.Quantity * itemPriceSelected;
                            var totalOfProductDisplay = _statsService.ConvertIntoViewFormat(totalOfProduct);
                            total += (decimal)totalOfProduct;
                            <tr>
                                <td class="text-left"><img src="@item.Product.ProductImageUrl" alt="" style="width: 50px;"> @item.Product.ProductName</td>
                                <td class="align-middle">@item.Product.PriceDisplay</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <a class="btn btn-sm btn-primary btn-minus" data-product-id="@item.Product.ProductId">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                        <input type="number" class="form-control form-control-sm bg-secondary text-center" name="quantity" value="@item.Quantity" />
                                        <div class="input-group-btn">
                                            <a class="btn btn-sm btn-primary btn-plus" data-product-id="@item.Product.ProductId">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">@pricePerProduct</td>
                                <td class="align-middle">
                                    <input class="shop-tooltip close float-none text-danger" type="checkbox" title=""
                                           value="@item.ItemSelected" data-original-title="Remove" id="itemCheckbox_@item.CartItemId" data-item-id="@item.CartItemId"
                                    @if (item.ItemSelected == true)
                                    {
                                        <text>checked</text>
                                    }/>

                                </td>
                                <td class="align-middle">
                                    <a href="#" class="btn btn-sm btn-primary btn-remove" data-product-id="@item.Product.ProductId">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </p>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">@_statsService.ConvertIntoViewFormat(total)</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">@_statsService.ConvertIntoViewFormat(0)</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">@_statsService.ConvertIntoViewFormat(total)</h5>
                        </div>
                        <a asp-action="CheckOut" asp-controller="Cart" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
